.review-section .swiper-wrapper .swiper-slide{
    height: 320px;
}
.review-section .swiper-wrapper .swiper-slide-next{
 height: 100%;
}
.swiper-pagination-bullet {
    width: 36px;
    height: 4px;
    display: inline-block;
    background: #ffffff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
    opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #04091e  !important;
    opacity: 1;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0px;
}